Loading Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
house = pd.read_csv("hydrawdata.csv")
house.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Amberpet
1,Plot Area,Ready To Move,4 Bedroom,Goardth,2894,4.0,1.0,245.00,Amberpet
2,Plot Area,Ready To Move,4 Bedroom,NaN,1200,5.0,NaN,325.00,Amberpet
3,Super built-up Area,Ready To Move,2 BHK,Bhinglv,1084,2.0,2.0,50.00,Amberpet
4,Built-up Area,Ready To Move,2 BHK,NaN,1000,2.0,1.0,25.00,Amberpet

In [3]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

Data Preprocessing

In [4]:
house.drop(columns=["area_type", "availability", "society"], inplace=True)

In [5]:
house.head()

        size total_sqft  bath  balcony   price site_location
0      2 BHK       1056   2.0      1.0   39.07      Amberpet
1  4 Bedroom       2894   4.0      1.0  245.00      Amberpet
2  4 Bedroom       1200   5.0      NaN  325.00      Amberpet
3      2 BHK       1084   2.0      2.0   50.00      Amberpet
4      2 BHK       1000   2.0      1.0   25.00      Amberpet

In [6]:
house.shape

(13320, 6)

In [7]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   balcony        12711 non-null  float64
 4   price          13320 non-null  float64
 5   site_location  13319 non-null  object
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [8]:
house['balcony'].value_counts()

balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64

In [9]:
house.dropna(inplace=True)

In [10]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13318
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           12710 non-null  object
 1   total_sqft     12710 non-null  object
 2   bath           12710 non-null  float64
 3   balcony        12710 non-null  float64
 4   price          12710 non-null  float64
 5   site_location  12710 non-null  object
dtypes: float64(3), object(3)
memory usage: 695.1+ KB

In [11]:
house.describe()

               bath       balcony         price
count  12710.000000  12710.000000  12710.000000
mean       2.617388      1.584500    106.064790
std        1.225992      0.817175    131.764701
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     49.062500
50%        2.000000      2.000000     70.000000
75%        3.000000      2.000000    115.000000
max       40.000000      3.000000   2912.000000

In [12]:
house['bhk'] = house['size'].str.split().str.get(0).astype(int)

In [13]:
house.head()

        size total_sqft  bath  balcony   price site_location  bhk
0      2 BHK       1056   2.0      1.0   39.07      Amberpet    2
1  4 Bedroom       2894   4.0      1.0  245.00      Amberpet    4
3      2 BHK       1084   2.0      2.0   50.00      Amberpet    2
4      2 BHK       1000   2.0      1.0   25.00      Amberpet    2
5      4 BHK       1150   4.0      2.0  260.00      Amberpet    4

In [14]:
house.drop(columns='size', inplace=True)

In [15]:
house['total_sqft'].unique()

array(['1056', '2894', '1084', ..., '1113.12', '456', '516'], dtype=object)

In [16]:
house[house.bhk>20]

      total_sqft  bath  balcony  price   site_location  bhk
10469       2400  40.0      0.0  660.0   Bakhtawarguda   43
11956       8000  27.0      0.0  230.0  Yellareddyguda   27

In [17]:
house.reset_index(inplace=True)

In [18]:
house[house.bhk>20]

       index total_sqft  bath  balcony  price   site_location  bhk
9991   10469       2400  40.0      0.0  660.0   Bakhtawarguda   43
11418  11956       8000  27.0      0.0  230.0  Yellareddyguda   27

In [19]:
house.head()

   index total_sqft  bath  balcony   price site_location  bhk
0      0       1056   2.0      1.0   39.07      Amberpet    2
1      1       2894   4.0      1.0  245.00      Amberpet    4
2      3       1084   2.0      2.0   50.00      Amberpet    2
3      4       1000   2.0      1.0   25.00      Amberpet    2
4      5       1150   4.0      2.0  260.00      Amberpet    4

In [20]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12710 entries, 0 to 12709
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          12710 non-null  int64
 1   total_sqft     12710 non-null  object
 2   bath           12710 non-null  float64
 3   balcony        12710 non-null  float64
 4   price          12710 non-null  float64
 5   site_location  12710 non-null  object
 6   bhk            12710 non-null  int32
dtypes: float64(3), int32(1), int64(1), object(2)
memory usage: 645.6+ KB

In [21]:
house.drop(columns='index', inplace=True)

In [22]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12710 entries, 0 to 12709
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_sqft     12710 non-null  object
 1   bath           12710 non-null  float64
 2   balcony        12710 non-null  float64
 3   price          12710 non-null  float64
 4   site_location  12710 non-null  object
 5   bhk            12710 non-null  int32
dtypes: float64(3), int32(1), object(2)
memory usage: 546.3+ KB

In [23]:
house

      total_sqft  bath  balcony   price site_location  bhk
0           1056   2.0      1.0   39.07      Amberpet    2
1           2894   4.0      1.0  245.00      Amberpet    4
2           1084   2.0      2.0   50.00      Amberpet    2
3           1000   2.0      1.0   25.00      Amberpet    2
4           1150   4.0      2.0  260.00      Amberpet    4
...          ...   ...      ...     ...           ...  ...
12705       1050   2.0      2.0   54.00      Nampally    2
12706        970   2.0      0.0   45.00      Nampally    2
12707       1140   2.0      1.0   57.00      Nampally    2
12708       1464   3.0      2.0   56.00      Nampally    3
12709       1132   2.0      1.0   70.00      Nampally    2

[12710 rows x 6 columns]

In [24]:
house = house[house.bhk<=20]

In [25]:
house

      total_sqft  bath  balcony   price site_location  bhk
0           1056   2.0      1.0   39.07      Amberpet    2
1           2894   4.0      1.0  245.00      Amberpet    4
2           1084   2.0      2.0   50.00      Amberpet    2
3           1000   2.0      1.0   25.00      Amberpet    2
4           1150   4.0      2.0  260.00      Amberpet    4
...          ...   ...      ...     ...           ...  ...
12705       1050   2.0      2.0   54.00      Nampally    2
12706        970   2.0      0.0   45.00      Nampally    2
12707       1140   2.0      1.0   57.00      Nampally    2
12708       1464   3.0      2.0   56.00      Nampally    3
12709       1132   2.0      1.0   70.00      Nampally    2

[12708 rows x 6 columns]

In [26]:
house[house.bhk>20]

Empty DataFrame
Columns: [total_sqft, bath, balcony, price, site_location, bhk]
Index: []

In [27]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12708 entries, 0 to 12709
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_sqft     12708 non-null  object
 1   bath           12708 non-null  float64
 2   balcony        12708 non-null  float64
 3   price          12708 non-null  float64
 4   site_location  12708 non-null  object
 5   bhk            12708 non-null  int32
dtypes: float64(3), int32(1), object(2)
memory usage: 645.3+ KB

In [28]:
house.reset_index(inplace=True)

In [29]:
house

       index total_sqft  bath  balcony   price site_location  bhk
0          0       1056   2.0      1.0   39.07      Amberpet    2
1          1       2894   4.0      1.0  245.00      Amberpet    4
2          2       1084   2.0      2.0   50.00      Amberpet    2
3          3       1000   2.0      1.0   25.00      Amberpet    2
4          4       1150   4.0      2.0  260.00      Amberpet    4
...      ...        ...   ...      ...     ...           ...  ...
12703  12705       1050   2.0      2.0   54.00      Nampally    2
12704  12706        970   2.0      0.0   45.00      Nampally    2
12705  12707       1140   2.0      1.0   57.00      Nampally    2
12706  12708       1464   3.0      2.0   56.00      Nampally    3
12707  12709       1132   2.0      1.0   70.00      Nampally    2

[12708 rows x 7 columns]

In [30]:
house.drop(columns='index')

      total_sqft  bath  balcony   price site_location  bhk
0           1056   2.0      1.0   39.07      Amberpet    2
1           2894   4.0      1.0  245.00      Amberpet    4
2           1084   2.0      2.0   50.00      Amberpet    2
3           1000   2.0      1.0   25.00      Amberpet    2
4           1150   4.0      2.0  260.00      Amberpet    4
...          ...   ...      ...     ...           ...  ...
12703       1050   2.0      2.0   54.00      Nampally    2
12704        970   2.0      0.0   45.00      Nampally    2
12705       1140   2.0      1.0   57.00      Nampally    2
12706       1464   3.0      2.0   56.00      Nampally    3
12707       1132   2.0      1.0   70.00      Nampally    2

[12708 rows x 6 columns]

In [31]:
house['total_sqft'].unique()

array(['1056', '2894', '1084', ..., '1113.12', '456', '516'], dtype=object)

In [32]:
house['total_sqft'].isna().sum()

0

In [33]:
def convertRange(x):
    temp = x.split("-")
    if len(temp)==2:
        return (float(temp[0]) + float(temp[1])) / 2
    try:
        return float(x)
    except:
        return None

In [34]:
house['total_sqft'] = house['total_sqft'].apply(convertRange)

C:\Users\15974\AppData\Local\Temp\ipykernel_20524\3786732367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['total_sqft'] = house['total_sqft'].apply(convertRange)

In [35]:
house['total_sqft'].unique()

array([1056.  , 2894.  , 1084.  , ..., 1113.12,  456.  ,  516.  ])

In [36]:
house.drop(columns='index', inplace=True)

C:\Users\15974\AppData\Local\Temp\ipykernel_20524\1888149268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.drop(columns='index', inplace=True)

In [37]:
house

       total_sqft  bath  balcony   price site_location  bhk
0          1056.0   2.0      1.0   39.07      Amberpet    2
1          2894.0   4.0      1.0  245.00      Amberpet    4
2          1084.0   2.0      2.0   50.00      Amberpet    2
3          1000.0   2.0      1.0   25.00      Amberpet    2
4          1150.0   4.0      2.0  260.00      Amberpet    4
...           ...   ...      ...     ...           ...  ...
12703      1050.0   2.0      2.0   54.00      Nampally    2
12704       970.0   2.0      0.0   45.00      Nampally    2
12705      1140.0   2.0      1.0   57.00      Nampally    2
12706      1464.0   3.0      2.0   56.00      Nampally    3
12707      1132.0   2.0      1.0   70.00      Nampally    2

[12708 rows x 6 columns]

In [38]:
house.describe()

         total_sqft          bath       balcony         price           bhk
count  12666.000000  12708.000000  12708.000000  12708.000000  12708.000000
mean    1511.306482      2.612528      1.584750    106.011448      2.732137
std     1160.719563      1.160392      0.816997    131.678813      1.130718
min        5.000000      1.000000      0.000000      8.000000      1.000000
25%     1100.000000      2.000000      1.000000     49.050000      2.000000
50%     1260.000000      2.000000      2.000000     70.000000      3.000000
75%     1640.000000      3.000000      2.000000    115.000000      3.000000
max    52272.000000     15.000000      3.000000   2912.000000     14.000000

In [39]:
house['total_sqft'].isna().sum()

42

In [40]:
house.dropna(inplace=True)

C:\Users\15974\AppData\Local\Temp\ipykernel_20524\3485570238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.dropna(inplace=True)

In [41]:
house.reset_index(inplace=True)

In [42]:
house.drop(columns='index', inplace=True)

C:\Users\15974\AppData\Local\Temp\ipykernel_20524\1888149268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.drop(columns='index', inplace=True)

In [43]:
house

       total_sqft  bath  balcony   price site_location  bhk
0          1056.0   2.0      1.0   39.07      Amberpet    2
1          2894.0   4.0      1.0  245.00      Amberpet    4
2          1084.0   2.0      2.0   50.00      Amberpet    2
3          1000.0   2.0      1.0   25.00      Amberpet    2
4          1150.0   4.0      2.0  260.00      Amberpet    4
...           ...   ...      ...     ...           ...  ...
12661      1050.0   2.0      2.0   54.00      Nampally    2
12662       970.0   2.0      0.0   45.00      Nampally    2
12663      1140.0   2.0      1.0   57.00      Nampally    2
12664      1464.0   3.0      2.0   56.00      Nampally    3
12665      1132.0   2.0      1.0   70.00      Nampally    2

[12666 rows x 6 columns]

In [44]:
house['price_per_sq_ft'] = house['price']*100000 / house['total_sqft']
house['price_per_sq_ft']

C:\Users\15974\AppData\Local\Temp\ipykernel_20524\2829483053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['price_per_sq_ft'] = house['price']*100000 / house['total_sqft']

0         3699.810606
1         8465.791292
2         4612.546125
3         2500.000000
4        22608.695652
             ...
12661     5142.857143
12662     4639.175258
12663     5000.000000
12664     3825.136612
12665     6183.745583
Name: price_per_sq_ft, Length: 12666, dtype: float64

In [45]:
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12666.000000,12666.000000,12666.000000,12666.000000,12666.000000,1.266600e+04
mean,1511.306482,2.611480,1.586057,105.903138,2.731407,6.875089e+03
std,1160.719563,1.157924,0.816466,131.725570,1.127843,2.263455e+04
min,5.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,49.030000,2.000000,4.243306e+03
50%,1260.000000,2.000000,2.000000,70.000000,3.000000,5.376344e+03
75%,1640.000000,3.000000,2.000000,115.000000,3.000000,7.142857e+03
max,52272.000000,15.000000,3.000000,2912.000000,14.000000,2.300000e+06

In [46]:
house['site_location'].value_counts()

site_location
Nampally           265
Charmahal          256
Banjara Hills      136
Serilingampally    136
Bholakpur          136
                  ...
Yousufguda         127
Kakaguda           127
Bandlaguda         127
Keesara            127
HITEC City           1
Name: count, Length: 95, dtype: int64

In [47]:
house = house[((house['total_sqft'] / house['bhk']) >= 300)]
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000
mean,1542.372588,2.511862,1.587780,105.007894,2.607342,6206.213093
std,1181.080695,1.006206,0.808746,134.204258,0.922976,3985.465773
min,300.000000,1.000000,0.000000,9.000000,1.000000,267.829813
25%,1107.000000,2.000000,1.000000,48.450000,2.000000,4199.565960
50%,1285.000000,2.000000,2.000000,68.000000,2.000000,5253.456221
75%,1660.000000,3.000000,2.000000,110.000000,3.000000,6823.529412
max,52272.000000,13.000000,3.000000,2912.000000,13.000000,176470.588235

In [48]:
house.shape

(12013, 7)

In [49]:
house

       total_sqft  bath  balcony   price site_location  bhk  price_per_sq_ft
0          1056.0   2.0      1.0   39.07      Amberpet    2      3699.810606
1          2894.0   4.0      1.0  245.00      Amberpet    4      8465.791292
2          1084.0   2.0      2.0   50.00      Amberpet    2      4612.546125
3          1000.0   2.0      1.0   25.00      Amberpet    2      2500.000000
5          1230.0   2.0      2.0   80.00      Amberpet    2      6504.065041
...           ...   ...      ...     ...           ...  ...              ...
12661      1050.0   2.0      2.0   54.00      Nampally    2      5142.857143
12662       970.0   2.0      0.0   45.00      Nampally    2      4639.175258
12663      1140.0   2.0      1.0   57.00      Nampally    2      5000.000000
12664      1464.0   3.0      2.0   56.00      Nampally    3      3825.136612
12665      1132.0   2.0      1.0   70.00      Nampally    2      6183.745583

[12013 rows x 7 columns]

In [50]:
house.reset_index(inplace=True)

In [51]:
house.drop(columns='index', inplace=True)

C:\Users\15974\AppData\Local\Temp\ipykernel_20524\1888149268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.drop(columns='index', inplace=True)

In [52]:
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000
mean,1542.372588,2.511862,1.587780,105.007894,2.607342,6206.213093
std,1181.080695,1.006206,0.808746,134.204258,0.922976,3985.465773
min,300.000000,1.000000,0.000000,9.000000,1.000000,267.829813
25%,1107.000000,2.000000,1.000000,48.450000,2.000000,4199.565960
50%,1285.000000,2.000000,2.000000,68.000000,2.000000,5253.456221
75%,1660.000000,3.000000,2.000000,110.000000,3.000000,6823.529412
max,52272.000000,13.000000,3.000000,2912.000000,13.000000,176470.588235

In [53]:
def remove_outlier_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('site_location'):
        m = np.mean(subdf.price_per_sq_ft)
        st = np.std(subdf.price_per_sq_ft)
        gen_df = subdf[(subdf.price_per_sq_ft > (m-st)) & (subdf.price_per_sq_ft <= (m+st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

house = remove_outlier_sqft(house)
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,10467.000000,10467.000000,10467.000000,10467.000000,10467.000000,10467.000000
mean,1450.076954,2.422471,1.594822,80.669085,2.529474,5340.963720
std,747.971319,0.900020,0.796073,58.625443,0.841639,1555.463266
min,300.000000,1.000000,0.000000,10.000000,1.000000,2000.000000
25%,1100.000000,2.000000,1.000000,48.000000,2.000000,4178.157645
50%,1260.000000,2.000000,2.000000,65.000000,2.000000,5084.745763
75%,1600.000000,3.000000,2.000000,93.897500,3.000000,6279.227053
max,30400.000000,13.000000,3.000000,1824.000000,13.000000,17548.524329

In [54]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('site_location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean':np.mean(bhk_df.price_per_sq_ft),
                'std':np.std(bhk_df.price_per_sq_ft),
                'count':bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sq_ft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [55]:
house = bhk_outlier_remover(house)

In [56]:
house.shape

(7272, 7)

In [57]:
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,7272.000000,7272.000000,7272.000000,7272.000000,7272.000000,7272.000000
mean,1459.480127,2.423267,1.555006,89.531584,2.469197,5851.373999
std,811.545693,0.968006,0.797982,65.399097,0.908486,1559.215545
min,300.000000,1.000000,0.000000,10.000000,1.000000,2000.000000
25%,1090.000000,2.000000,1.000000,51.000000,2.000000,4833.333333
50%,1250.000000,2.000000,2.000000,74.450000,2.000000,5714.285714
75%,1650.000000,3.000000,2.000000,107.000000,3.000000,6793.500328
max,30400.000000,13.000000,3.000000,1824.000000,13.000000,17548.524329

In [58]:
house.drop(columns='price_per_sq_ft', inplace=True)

In [59]:
house.head()

   total_sqft  bath  balcony   price  site_location  bhk
0      1755.0   3.0      1.0  122.00  Abdullapurmet    3
1      1436.0   3.0      1.0   74.75  Abdullapurmet    3
2      1475.0   3.0      2.0   78.29  Abdullapurmet    3
3      1850.0   3.0      3.0  150.00  Abdullapurmet    3
4      1511.0   3.0      1.0   95.00  Abdullapurmet    3

In [60]:
house['site_location'].unique()

array(['Abdullapurmet', 'Alwal', 'Amangal', 'Amberpet', 'Ameerpet',
       'Ammuguda', 'Asif Nagar', 'Bachupally', 'Bahadurpura',
       'Bahlookhanguda', 'Bakaram', 'Bakhtawarguda', 'Balanagar',
       'Balapur', 'Bandlaguda', 'Bandlaguda Road', 'Banjara Hills',
       'Bholakpur', 'Bowenpally', 'Chandanagar ', 'Chandrayanagutta',
       'Chandulal Bowli', 'Charmahal', 'Charminar', 'Chevella',
       'Dundigal Gandimaisamma', 'Farooqnagar', 'Gachibowli  ',
       'Gandipet', 'Ghatkesar', 'Golkonda', 'Goshamahal', 'Hakeempet',
       'Hayathnagar', 'Himayathnagar', 'Ibrahimpatnam',
       'Jilled Chowdergudem', 'Kadthal', 'Kakaguda', 'Kandukur', 'Kapra',
       'Karwan', 'Keesara', 'Keshampeta', 'Khairtabad', 'Kondapur ',
       'Kondurg', 'Kothur', 'Kukatpally', 'Lalaguda', 'Machabolaram',
       'Madgul', 'Madhapur', 'Maheshwaram', 'Malakpet', 'Malkajgiri',
       'Manchal', 'Manikonda', 'Maredpally', 'Medchal', 'Medipally',
       'Miyakunta', 'Miyapur ', 'Moinabad', 'Muduchintalpalli',
       'Musheerabad', 'Nampally', 'Nandigam', 'Quthbullapur',
       'Rajendranagar', 'Rasoolpura', 'Saidabad', 'Sanathnagar',
       'Saroornagar', 'Secunderabad', 'Serilingampally', 'Shabad',
       'Shadnagar', 'Shaikpet', 'Shamirpet', 'Shamshabad', 'Shankarpalle',
       'Sitarampur', 'Somajiguda', 'Sultan Bagh', 'Talakonapally',
       'Thokatta', 'Tirumalgiri', 'Uppal', 'Yacharam', 'Yakatpura',
       'Yellareddyguda', 'Yousufguda', 'Zamistanpur'], dtype=object)

In [61]:
house.describe()

         total_sqft         bath      balcony        price          bhk
count   7272.000000  7272.000000  7272.000000  7272.000000  7272.000000
mean    1459.480127     2.423267     1.555006    89.531584     2.469197
std      811.545693     0.968006     0.797982    65.399097     0.908486
min      300.000000     1.000000     0.000000    10.000000     1.000000
25%     1090.000000     2.000000     1.000000    51.000000     2.000000
50%     1250.000000     2.000000     2.000000    74.450000     2.000000
75%     1650.000000     3.000000     2.000000   107.000000     3.000000
max    30400.000000    13.000000     3.000000  1824.000000    13.000000

Cleaned Data

In [62]:
house.to_csv('cleaned_data.csv')

In [63]:
x = house.drop(columns='price')
y = house['price']

Making the Model

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [65]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [66]:
print(x_train.shape)
print(x_test.shape)

(5817, 5)
(1455, 5)

Applying Linear Regression

In [73]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['site_location']), remainder='passthrough')

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [69]:
scaler = StandardScaler()

In [70]:
lr = LinearRegression()

In [71]:
pipe = make_pipeline(column_trans, scaler, lr)

NameError: name 'column_trans' is not defined

In [72]:
pipe.fit(x_train, y_train)

NameError: name 'pipe' is not defined

In [ ]:
y_pred_lr = pipe.predict(x_test)

In [ ]:
r2_score(y_test, y_pred_lr)

0.8520083187540555

Applying Lasso Regression

In [ ]:
lasso = Lasso()

In [ ]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [ ]:
pipe.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [ ]:
y_pred_lasso = pipe.predict(x_test)

In [ ]:
r2_score(y_test, y_pred_lasso)

0.8443004249966077

Applying Ridge Regression

In [ ]:
ridge = Ridge()

In [ ]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [ ]:
pipe.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [ ]:
y_pred_ridge = pipe.predict(x_test)

In [ ]:
r2_score(y_test, y_pred_ridge)

0.8519597578668519

In [ ]:
print("Linear Regression: ", r2_score(y_test,  y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

Linear Regression:  0.8520083187540555
Lasso:  0.8443004249966077
Ridge:  0.8519597578668519

In [ ]:
x_train.columns

Index(['total_sqft', 'bath', 'balcony', 'site_location', 'bhk'], dtype='object')

In [ ]:
data = [2345, 2, 2, 'Wagholi', 2]
data = pd.Series(data)

type(data)
data = data.values.reshape(1,5)

In [ ]:
type(data)

numpy.ndarray

In [ ]:
data.shape

(1, 5)

In [ ]:
df = pd.DataFrame(data, columns=['total_sqft', 'bath', 'balcony', 'site_location', 'bhk'])
df

  total_sqft bath balcony site_location bhk
0       2345    2       2       Wagholi   2

In [ ]:
pipe_lr = make_pipeline(column_trans, scaler, lr)
pipe_lr.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [ ]:
prediction = pipe_lr.predict(df)
print("Price for your house should be: ", prediction[0]*100000)

Price for your house should be:  14269768.19670255

In [ ]:
import pickle

pickle.dump(pipe_lr, open('LinearModel.pkl', 'wb'))